.navbar{
    background-color: green;
    height: 8vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.nav-menu-icon{
    margin-left: 2rem;
    font-size:2rem;
    color : white;
    max-height: 2rem;
    background-color: none;
}
.sidebar-container{
    background-color: green;
    width: 14rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top : 0;
    left : -100%;
    transition: 1s;
}
.sidebar-container.active{
 left: 0;  
 transition: 500ms; 
}
.sidebar-item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 3rem;
    list-style: none;
    padding: 1px 0px 1px 16px;
}
.sidebar-item a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
    width: 95%;
}
.sidebar-item a:hover{
    background-color: yellow;

}
.sidebar-items{
    width: 100%;
}
.sidebar-container .sidebar-toggle{
    display: flex;
    height: 64px;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0.7rem;
}
span{
    padding-left: 1rem;
}
